<ion-header>
    <ion-navbar>
        <ion-title>Home</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>

    <h3>
        Token
    </h3>
    <p>
        {{token}}
    </p>
    <button (click)="copyToken()">
        Copy token
    </button>
    <button ion-button
            (click)="giveNotification()"
            block>Single Notification
    </button>
    <button ion-button
            (click)="giveMultipleNotification()"
            block>Multiple Notification
    </button>
    <button ion-button
            (click)="giveStickyNotification()"
            block>Sticky Notification
    </button>
    <button ion-button
            (click)="clearNotification()"
            block>Clear all notifications
    </button>
    <h3>
        Notification recevied
    </h3>
    <div *ngFor="let n of notifications"
         style="border-top: solid 1px teal;">
        {{n}}
    </div>
</ion-content>
